Q1)data structures are way of organising, storing, and managing data in a computer so that it can be accessed and modified efficiently.
**they are important because:**
**a)** efficiency
**b)** optimal use of resources
**C)** Problem solving
**d)** scalability


Q2)




Q3)**A)** **mutability**
**B)** **syntax**
**C)** **performane**
**D)** **method**
**E)** **use case**
**f)** **hashability**
**g)** **memory usage**



Q4)dictionaries in python are an implementation of hash tables, which are data structures optimised for fast data retrieval. here's a detailed breakdown of how they work:
**1** structure of a dictionary
**2** hashing mechanism
**3** collision handling
**4** efficiency
**5** resizing



Q5)using a set instead of a list in python has distinct has distint  advantages, depending on the context of your task. Here are key reasons why one might use set:
**1)**eliminating duplicates
**2)**membership testing
**3)**set opeations
**4)**no concern about order
**5)**preventing redundant items




Q6)



**14**

when used with a list  they "in" keyword checks whether a given value is present as element of the lis.

**FOR DICTIONARIES**

When used with a dictionary, the "in"keyword checks for membership in the dictionary's keys. It does not directly check the value.

Q15)no, the elements of a tuple in python cannot be modified because tuples are immutable. this immutability means that once a tuple is created, it's size and the values pf its elements cannot be changed

Q16)a nested dictionary is a dictionary  within another dictionary. it allows you to store complex data structures by associating keys with values, where those values themselves can be dictionaries. this hierarchical structure is useful for organisiing  data in a way that represents relationships or grouping.

**EXAMPLE**

In [6]:
students_grades={
    "alice":{
        "maths":86,
        "english":90,
        "science":70
    },
   "bob":{
       "maths":78,
       "english":86,
       "science":82
   },
    "charlie":{
        "maths":95,
        "english":90,
        "science":96
    }
}
#accessing a speciific grade
alice_maths_grade=students_grades["alice"] ["maths"]
print(f"alice's maths grade: {alice_maths_grade}")

#adding a new subject
students_grades["alice"] ["history"]=89
print (students_grades["alice"])

#iiterating through all grades for a student
for subject, grade in students_grades["bob"].items():
  print(f"bob's grade in {subject}: {grade}")

alice's maths grade: 86
{'maths': 86, 'english': 90, 'science': 70, 'history': 89}
bob's grade in maths: 78
bob's grade in english: 86
bob's grade in science: 82

Q17)the time complexity of accessing elements in a dictionary depends on the underlying data structure, which is typically a hash table in most modern programming language such as python.

Q18)**list are  preferred over dictionaries in the following situations**

**a)** ordered collection of elments
**B)** sequential access
**C)** homogeneous data
**d)** no key value pairing
**e)** small data sets
**F)** iindex based operations
**G)** operations requiring order
**h)** when duplicate values are allowed.

Q19)Dictionaries in python are considerd unordered collections because they didnt maintain  the order in which items were insterted.

Q20)**differences between list and dictionaries in terms of data retrieval**

**A)** list access method is index(my_list[0]) where as in dictionary its key (my_dict['key'})
**b)** list is oodered whereas dictionary is unodered.
**c)** list structure collection of items whereas dictonary structure collection of key value pairs
**D)** list's efficiency fast for sequential access whereas dictionary is fast for key based lookups

**PRACTICAL QUESTIONS**

Q1)

In [7]:
#creating a string with my name
my_name="pratiksha"

#printing the string
print(my_name)

pratiksha

Q2)

In [8]:
#Define the string
my_string="hello world"

#find the length of the string
length_of_string= len(my_string)

#print the length
print(length_of_string)

11

Q3)

In [9]:
text="python programming"
sliced_text= text[:3]
print(sliced_text)

pyt

Q4)

In [10]:
#string to convert
string="hello"

#convert to uppercase
uppercase_string=string.upper()

#print the result
print(uppercase_string)

HELLO

Q5)

In [11]:
#original string
text="i like apple"

#relacing 'apple' with 'orange'
new_text=text.replace("apple", "orange")

#printing the modified string
print(new_text)

i like orange

Q6)

In [13]:
#create a list with numbers 1 to 5
numbers=[1,2,3,4,5]

#print the list
print(numbers)

[1, 2, 3, 4, 5]

Q7)

In [14]:
#create the list
numbers=[1,2,3,4]

#append the number 10 to the  list
numbers.append(10)

#print the updated list
print(numbers)

[1, 2, 3, 4, 10]

Q8)

In [15]:
my_list=[1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

Q9)

In [16]:
my_list=['a', 'b', 'c', 'd']
second_element= my_list[1]
print(second_element)

b

Q10)

In [17]:
#original list
my_list=[10,20,30,40,50]

#reverse the list
reversed_list=my_list[::-1]

#print the reversed list
print(reversed_list)

[50, 40, 30, 20, 10]

Q11)

In [18]:
#creating a tuple with the elements 10, 20 and 30
my_tuple=(10,  20, 30)
print(my_tuple)

(10, 20, 30)

Q12)

In [19]:
my_tuple=('apple', 'banana', 'cherry')
first_element= my_tuple[0]
print(first_element)

apple

Q13)

In [20]:
#define the tuple
my_tuple=(1, 2, 3, 4, 2)

#count how many times 2 appears
count_of_two=my_tuple.count(2)

#print the result
print(count_of_two)

2

Q14)

In [26]:
#define the tuple
animals=('dog', 'cat', 'rabbit')

#find the index if the element "cat"
index_of_cat=animals.index('cat')
 #print the result
print("The index of 'cat' is:", index_of_cat)

IndentationError: unexpected indent (<ipython-input-26-2ed8f0997454>, line 7)

Q15)

In [27]:
fruits=('apple', 'banana', 'orange')
if'banana' in fruits:
  print("yes, 'banana' is in the tuple.")
else:
  print("no, 'banana' is not in the tuple.")

yes, 'banana' is in the tuple.

Q16)

In [28]:
my_set={1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

Q17)

In [29]:
my_set={1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

Q18)

In [30]:
my_tuple=(10,20,20)
print(my_tuple)

(10, 20, 20)

Q19)

In [31]:
my_tuple=('apple', 'banana', 'cherry')
first_element=my_tuple[0]
print(first_element)

apple

Q20)

In [32]:
numbers=(1,2,3,2,4,2)
count_of_2=numbers.count(2)
print("the number 2 appears", count_of_2,"times. ")

the number 2 appears 3 times.

Q21)

In [33]:
animals=('dog', 'cat',  'rabbit')
index_of_cat=animals.index('cat')
print("the index of 'cat' is:", index_of_cat)

the index of 'cat' is: 1

Q22)

In [35]:
my_tuple=('apple', 'orange', 'banana')
if'banana' in my_tuple:
  print("banana is in the tuple.")
else:
  print("banana is not in the tuple.")

banana is in the tuple.

Q23)

In [36]:
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

Q24)

In [37]:
my_set={1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}